{{! HoF landing page }}

<div class="hero hero-sm">
  <div>
    <h1>{{page.title}}</h1>
    <p>{{page.intro}}</p>
  </div>
</div>

<div class="wrapper">

  {{#each content.sections}}
  <section>
    <h2 class="section-heading">{{this.heading}}</h2>
    {{#each this.paragraphs}}
    <p>{{this}}</p>
    {{/each}}
    <a href="{{../content.externalLink.href}}" class="btn btn-outline" target="_blank" rel="noopener noreferrer">{{../content.externalLink.label}}</a>
  </section>
  {{/each}}

</div>
