<div class="results-section">
  <div class="results-section-header">
    <h3>{{#if disciplineName}}{{disciplineName}}{{else}}General Results{{/if}}</h3>
    {{#if teamType}}
      <span class="discipline-meta">{{teamType}}</span>
    {{/if}}
  </div>

  {{#if placements.length}}
    <table class="results-table" aria-label="{{#if disciplineName}}{{disciplineName}}{{else}}Results{{/if}}">
      <thead>
        <tr>
          <th style="width:48px">#</th>
          <th>Name</th>
          <th style="width:80px">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each placements}}
          <tr>
            <td class="placement-num">{{placement}}</td>
            <td>
              {{#if participants.length}}
                <ul class="participants-list">
                  {{#each participants}}
                    <li>
                      {{#if participantHref}}
                        <a href="{{participantHref}}">{{participantDisplayName}}</a>
                      {{else}}
                        {{participantDisplayName}}
                      {{/if}}
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            </td>
            <td class="score-text">{{#if scoreText}}{{scoreText}}{{/if}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>
